repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        files: \.(c|h|cpp|hpp)$
        exclude: ^extern/
        additional_dependencies: []

